*{	

	box-sizing: border-box;
}

/** large devices*/
@media (min-width: 992px) 	{
#box1{  width:30%;
	height:225px;}
#box2{  width:30%;
		height: 225px;}
#box3{  width:30%;
		height: 225px;}

}

/** medium devices*/ 
@media (min-width: 769px) AND (max-width:991px){
#box1{  width: 45%;
	height: 180px;
display: inline-block;}
#box2{  width: 45%;
		height: 180px;
		display: inline-block;}
#box3{  width: 96%;
height: 155px;}
}
/** small devices*/
@media (max-width: 768px){

#box1{  width: 90%;
}
#box2{  width: 90%;
	float: left;}
#box3{  width: 90%;}
	
}

body{margin:0;
	padding: 0;
}
	h1{ 
	text-align: right;
	font-size: 30px; 
	font: times New Roman; 
	padding: -5px; 
	border-bottom: 2px!important;
	border-left: 2px!important;
	border-color: black!important;
	font-family:bold;
}
p{
	font-size: 100%;
	border-top: 1px;
	text-align: left;
	clear: right;

}
#box1,#box2,#box3 {
	font-size: 100%;
	background: maroon;
	color: white;
	position:relative; 
	
	 	
	border: solid black 2px;
	text-align: left;
	word-wrap: normal;
	margin: 10px;
	float: left;
	padding: 10px;
	padding-right: 0px;
	padding-top: 0px;

}

#vegetables{
	    position: relative;
    top: 0px;
    right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px;
    height: 45px;
    width: 95px;
    background: green;
    float: right;
    clear: both;
    font-size: 125%;
}


#fruits{

	   position: relative;
    top: 0px;
    right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px;
    height: 45px;
    width: 95px;
    background: blue;
    float: right;
    clear: both;
     font-size: 125%;
}

#tofu{
	   position: relative;
    top: 0px;
    right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding:0px;
    height: 45px;
    width: 95px;
    background: purple;
    float: right;
    clear: both;
     font-size: 125%;
}



h2{text-align: center;
	font-size: 225%;
background:pink	;}